<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://1gvfbg13xkltmtbpo3cap551-wpengine.netdna-ssl.com/wp-content/uploads/2018/03/banner.jpg);">
  <div class="container">
    <h1>WaterBnb <strong>brings the ocean</strong> to <strong>you</strong>!</h1>
    <p>Change your perception of the sea.</p>
    <%= link_to "Browse available boats", boats_path, class:"btn btn-secondary"%>
  </div>
</div>
