<%= render 'banner' %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-10 mt-5 d-flex justify-content-between">
      <div class="imageCard" style="height:280px; width:280px; background-image:url(https://images.unsplash.com/photo-1593351415075-3bac9f45c877?ixlib=rb-1.2.1&ixid=MnwxM[…]90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2942&q=80);">
          Loan out your own boat<br>in the morning.
      </div>

      <div class="imageCard" style="height:280px; width:280px; background-image:url(https://images.unsplash.com/photo-1602867612779-3aaf54b425c2?ixlib=rb-1.2.1&ixid=MnwxM[…]90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1771&q=80);">
          Party all day with friends.
      </div>

      <div class="imageCard" style="height:280px; width:280px; background-image:url(https://images.unsplash.com/photo-1628029338883-61644ec68475?ixlib=rb-1.2.1&ixid=MnwxM[…]90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);">
          Rent a bigger boat<br>for the evening.
      </div>
    </div>
  </div>
</div>
